.terapia-flex {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 60px;
  align-items: center;
  margin-bottom: 60px;
  width: 100%;
  padding: 20px;
}

.terapia-flex p {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--txt);
  min-width: 300px;
}

.terapia-flex img {
  display: block;
  width: 100%;
  max-width: 400px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.terapia-cont-img{
width: auto;
}

@media(max-width:850px){
    .terapia-flex img {
width: 280px;
max-width: 280px;
      }
}

@media(max-width:700px){
    .terapia-flex {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
      }
    .terapia-cont-img {
        margin: 0 auto;
    }
    .terapia-flex img {
        width: 180px;
      }
}