/* Utilidades */
@import "/css/utilidades/utilidades.css";
@import "/css/utilidades/cores.css";
@import "/css/utilidades/simpleanime.css";


/*Header*/
@import "/css/header/header.css";

/*Main*/
@import "/css/main/banner.css";
@import "/css/main/especialidades.css";
@import "/css/main/terapia.css";


