
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.menu-container {
  width: 100%;
  box-shadow: 2px 2px 10px 0px #0000001f;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.menu {
  display: grid;
  grid-template-columns: 300px auto;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  box-sizing: border-box;
  width: 100%;
  background-color: white;
  padding: 10px;
  align-content: center;
}

.menu ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 0;
}

.menu ul li a {
  font-size: 16px;
  text-decoration: none;
}

.logo img {
  width: 300px;
  height: auto;
  max-width: 100%;
  min-width: 250px;
  margin-left: -40px;
}

.menu-itens ul li a.primaria {
  color: var(--txt);
  padding: 10px;
  display: inline-block;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.menu-itens ul li a.primaria:hover {
  color: var(--terciaria);
  transform: scale(1.07);
}

.menu-itens ul li a.primaria:active {
  transform: scale(0.98);
  transition: background-color 0.2s ease, transform 0.1s ease-in-out;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
  padding: 5px;
}

.menu-itens {
  display: flex;
}

.hamburger {
  display: none;
  color: var(--primaria);
}

.menu-actions {
  display: none;
}

.menu-esquerda {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
}

.btn-menu {
  display: none;
}

.btn {
  display: block;
}

@media screen and (max-width: 1220px) {
  .menu {
    flex-direction: row;
    justify-content: space-between;
  }

  .menu-itens {
    display: none;
    position: absolute;
    top: 72px;
    left: 0;
    width: auto;
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    gap: 10px;
    padding: 20px;
  }

  .menu-itens.open {
    display: flex;
    flex-direction: column;
    width: auto;
    border-radius: 4px;
    margin-top: 2px;
    text-align: end;
    position: absolute;
    left: 120px;
    z-index: 98746354865413542;
  }

  .menu-esquerda {
    position: relative;
  }

  .menu-esquerda .btn {
    order: -1;
  }

  .menu-itens.open ul {
    flex-direction: column;
  }

  .hamburger {
    display: block;
  }

  .btn {
    display: flex;
  }
}

@media screen and (max-width: 600px) {
  .menu-itens {
    display: none;
    position: absolute;
    top: 72px;
    left: 0;
    width: auto;
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    gap: 10px;
    padding: 20px;
  }

  .menu-itens.open {
    display: flex;
    flex-direction: column;
    width: auto;
    border-radius: 4px;
    margin-top: 2px;
    text-align: end;
    position: absolute;
    left: -280px;
  }

  .menu-itens.open .btn {
    display: block;
    margin-top: 10px;
  }

  .hamburger {
    display: block;
  }

  .menu-esquerda {
    position: relative;
  }

  .menu-itens.open ul {
    flex-direction: column;
  }

  .btn {
    display: none;
  }

  .btn-menu {
    display: block;
  }
}

@media (max-width:345px){
  .logo {
    width: 150px;
  }

  .menu {
    box-sizing: border-box;
  }
  .btn-menu{
    font-size: 12px;
  }
}
