.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "season";
  src: local("The Season"), url("TheSeason-reg.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "season-b";
  src: local("The Season"), url("TheSeason-bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat";
  font-size: 1.25rem;
  box-sizing: border-box;
  color: #292828;
}

a {
  color: inherit;
  text-decoration: none;
}

.container-1200 {
  max-width: 1200px;
  margin: 0 auto;
}

.container-995 {
  max-width: 995px;
  margin: 0 auto;
}

.container-630 {
  max-width: 630px;
  margin: 0 auto;
}

.btn {
  border-radius: 4px;
  box-shadow: 2px 2px 7.8px 0px #0000001f;
  font-family: "montserrat", Arial, Helvetica, sans-serif;
  font-size: 20px;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  text-wrap: nowrap;
  background-color: var(--terciaria);
  padding: 12px 30px;
  color: var(--wtxt);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 2px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
}

.btn:hover {
  background: #708EB1;
  color: var(--wtxt);
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.2);

}

.btn:active {
  background: var(--primaria); 
  box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.3);
  transform: translateY(2px); 
  transition: background-color 0.1s ease, box-shadow 0.1s ease;
}

.btn-secundario {
  border-radius: 4px;
  box-shadow: 2px 2px 10px 0px #0000003D;
  font-family: "montserrat", Arial, Helvetica, sans-serif;
  font-size: 20px;
  cursor: pointer;
  text-transform: uppercase;
  border: 2px solid var(--secundaria);
  text-wrap: nowrap;
  background-color: transparent;
  padding: 12px 30px;
  color: var(--primaria);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 2px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
}

.btn-secundario:hover {
  background: #EFECE5;
  color: var(--primaria);
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px); 
}

.btn-secundario:active {
  background: #EAE5DB; 
  box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.3);
  transform: translateY(2px); 
  transition: background-color 0.1s ease, box-shadow 0.1s ease;
}

.titulo {
  font-family: "season";
  font-size: 24px;
  font-weight: 400;
  line-height: 27.26px;
  text-align: center;
}

.upper {
  text-transform: uppercase;
}

.btn-menu {
  border-radius: 4px;
  box-shadow: 2px 2px 7.8px 0px #0000001f;
  font-family: "montserrat", Arial, Helvetica, sans-serif;
  font-size: 20px;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  text-wrap: nowrap;
  background-color: var(--terciaria);
  padding: 12px 30px;
  color: var(--wtxt);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 2px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
}

.btn-menu:hover {
  background: #708EB1;
  color: var(--wtxt);
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.2);

}

.btn-menu:active {
  background: var(--primaria); 
  box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.3);
  transform: translateY(2px); 
  transition: background-color 0.1s ease, box-shadow 0.1s ease;
}
