.banner {
    width: 100%;
    overflow: hidden;
    height: 750px;
    position: relative;
  }
  
  .banner-flex {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    height: 750px;
    position: relative;
  }
  
  .banner-flex h1 {
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    margin-left: 0px;
    font-size: 2rem;
    font-family: TAN - MON CHERI;
    font-weight: 400;
    line-height: 60px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  
  .banner-flex img {
    position: absolute;
    left: -100px;
  }
  
  .respiracao {
    width: 500px;
    height: 500px;
    background: radial-gradient(
      circle,
      rgb(103, 158, 202) 0%,
      rgba(213, 214, 245, 0) 71%,
      rgba(254, 255, 241, 0) 100%
    );
    border-radius: 50%;
    animation: breathe 5s ease-in-out infinite;
    position: absolute; 
    top: 15%; 
    transform: translateY(-50%); 
    right: 26%; 
  }
  
  @keyframes breathe {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.4);
    }
  }


  /*Responsivo da respiração, h1 banner e logo bg*/